html {
  scroll-behavior: smooth;
}
#info_main_box{
    height: 1080px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
#info_logo_img{
    position: absolute;
    top: 0.7%;
    left: 22%;
    width: 5%;
    height: 7%;
}
#logo_text_inf{
    position: absolute;
    bottom: 91.5%;
    left: 27%;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #043464;
}
#inf_label{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #000000;
}
#box1_inf{
    display: flex;
    position: absolute;
    top: 0.3%;
    left: 40%;
    height: 7.7%;
    width: 40%;
    justify-content: flex-start;
    align-items: center;
}