html {
  scroll-behavior: smooth;
}
#info_main_box{
    height: 1080px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
#info_logo_img{
    position: absolute;
    top: 0.7%;
    left: 22%;
    width: 5%;
    height: 7%;
}
#logo_text_inf{
    position: absolute;
    bottom: 91.5%;
    left: 27%;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #043464;
}
#inf_label{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #000000;
}
#box1_inf{
    display: flex;
    position: absolute;
    top: 0.3%;
    left: 40%;
    height: 7.7%;
    width: 40%;
    justify-content: flex-start;
    align-items: center;
}
#box2_inf{
    display: flex;
    background-color: #1662c6;
    border-radius: 30px;
    position: absolute;
    left: 22%;
    top: 10%;
    width: 53%;
    height: 8%;
}
#box3_inf{
    display: block;
    background-color: #1d80e3;
    border-radius: 30px;
    position: absolute;
    left: 22%;
    top: 20%;
    width: 53%;
    height: 38%;    
}
.inf_text{
    margin-left: 6%;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    color: #ffffff;
}
span{
    font-weight: bold;
}
#inf_txt1{
    position: absolute;
    margin-top: 1.6%;
}
#inf_txt3, #inf_txt4, #inf_txt5{
    margin-left: 10%;
}
#inf_txt7, #inf_txt8, #inf_txt9, #inf_txt10{
    margin-left: 10%;
}
#but_inf{
    border: none;
    outline: none;
    width: 8%;
    height: 3%;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    background-color: #4ca3fa;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 67%;
    cursor: pointer;
}
#but2_inf{
   border: none;
   outline: none;
   width: 8%;
   height: 3%;
   border-radius: 50px;
   font-family: "Roboto", sans-serif;
   background-color: #4ca3fa;
   color: white;
   font-weight: bold;
   position: absolute;
   top: 60%;
   left: 67%;
   cursor: pointer;
   visibility: hidden; 
   opacity: 0;
}