#main_main_box{
    height: 1080px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
#main_logo_img{
    position: absolute;
    top: 0.7%;
    left: 22%;
    width: 5%;
    height: 7%;
}
#logo_text_main{
    position: absolute;
    bottom: 91.5%;
    left: 27%;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #043464;
}
.main_text{
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    color: #ffffff;
}
.main_text2{
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: white;
}
#main_box1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.7%;
    width: 53%;
    background-color: #1662c6;
    border-radius: 30px;
    position: absolute;
    top: 10%;
    left: 22%;
}
.custom-file-upload {
    position: absolute;
    left: 20%;
    top: 20%;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px; 
    font-family: "Roboto", sans-serif;
}