#main_main_box{
    height: 1080px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
#main_logo_img{
    position: absolute;
    top: 0.7%;
    left: 22%;
    width: 5%;
    height: 7%;
}
#logo_text_main{
    position: absolute;
    bottom: 91.5%;
    left: 27%;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #043464;
}