#main_box_opt{
    height: 1080px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
#logo_img_opt{
    position: absolute;
    top: 0.7%;
    left: 22%;
    width: 5%;
    height: 7%;
}
#logo_text_opt{
    position: absolute;
    bottom: 91.5%;
    left: 27%;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #043464;
}
#opt_label{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #000000;
}
#box1_opt{
    display: flex;
    position: absolute;
    top: 0.3%;
    left: 35%;
    height: 7.7%;
    width: 40%;
    justify-content: flex-start;
    align-items: center;
}
#color_opt{
    display: inline-flex;
    background-color: #1662c6;
    border-radius: 30px;
    position: absolute;
    left: 22%;
    top: 10%;
    width: 53%;
    height: 20%;    
}
#lang_opt{
    display: inline-flex;
    background-color: #1d80e3;
    border-radius: 30px;
    position: absolute;
    left: 22%;
    top: 35%;
    width: 53%;
    height: 20%;    
}
#color_theme_opt{
    width: 30%;
    height: 100%;
}
#color_clr_opt{
    width: 70%;
    height: 100%;
}
#theme_txt_opt{
    margin-left: 10%;
}
#lang_txt_opt{
    margin-left: 10%;
}
#color_txt_opt{
    margin-left: 5%;
}
#dark_radio {
    position: absolute;
    left: 15%;
}
#white_radio{
    position: absolute;
    left: 2.5%;
}
#rus_radio {
    position: absolute;
    left: 15%;
}
#eng_radio{
    position: absolute;
    left: 2.5%;
}
#theme_txt_opt1{
    position: absolute;
    top: 34.5%;
    left: 17.5%;
}
#theme_txt_opt2{
    position: absolute;
    top: 34.5%;
    left: 5%;
}
#lang_txt_opt1{
    position: absolute;
    top: 34.5%;
    left: 17.5%;
}
#lang_txt_opt2{
    position: absolute;
    top: 34.5%;
    left: 5%;
}
.text2_opt{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #ffffff;
}
.text1_opt{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: #ffffff;
    }
#color_txt_opt1{
    position: absolute;
    top: 34.5%;
    left: 35%;
}
#color_txt_opt2{
    position: absolute;
    top: 34.5%;
    left: 47.5%;
}
#blue_radio{
    position: absolute;
    left: 32.5%;
}
#red_radio{
    position: absolute;
    left: 45%;
}
