html {
  scroll-behavior: smooth;
}
span{
    font-weight: bold;
}
#main_box{
    height: 1080px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
#box1{
    display: flex;
    position: absolute;
    top: 0.3%;
    left: 40%;
    height: 7.7%;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}
#img_backg{
    position: absolute;
    left: 20%;
    top: 8%;
    width: 60%;
    height: 50%;
    background-color: #1d80e3;
    z-index: -1;
    border-radius: 50px;
}
#logo_img{
    position: absolute;
    top: 1.5%;
    left: 22%;
    width: 5%;
    height: 5%;
}
#logo_text{
    position: absolute;
    bottom: 91.5%;
    left: 27%;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #043464;
}
#main_img{
    position: absolute;
    left: 20%;
    top: 8%;
    border-radius: 50px;
    opacity: 0.6;
}
.text1{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #000000;
}
.text2{
    margin-left: 6%;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    color: #ffffff;
}
.but1{
    border: none;
    outline: none;
    width: 20%;
    height: 50%;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    background-color: #1d80e3;
    color: white;
    font-weight: bold;
}
#info_box{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 25%;
    position: absolute;
    left: 20%;
    top: 60%;
}
#info_box1{
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #1662c6;
    width: 30%;
    height: 100%;
}
#info_box2{
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #1d80e3;
    width: 30%;
    height: 100%;
}
#info_box3{
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #4ca3fa;
    width: 30%;
    height: 100%;
}
@media only screen and (max-width : 740px) {
    #logo_text{
    position: absolute;
    bottom: 92%;
    left: 17%;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #043464;
    }
    .text1{
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    }
    #box1{
    display: flex;
    position: absolute;
    top: 1.2%;
    left: 40%;
    height: 5%;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    }
    .but1{
    border: none;
    outline: none;
    width: 20%;
    height: 50%;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    background-color: #1d80e3;
    color: white;
    font-weight: bold;
    font-size: 10px;
    }
    #logo_img{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 15%;
    height: 5%;
    }
    #main_box{
    height: 720px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    }
    #main_img{
    position: absolute;
    left: 1%;
    top: 7%;
    border-radius: 10px;
    opacity: 0.6;
    width: 98%;
    height: 50%;
    }
    #img_backg{
    position: absolute;
    left: 1%;
    top: 7%;
    width: 98%;
    height: 50%;
    background-color: #1d80e3;
    z-index: -1;
    border-radius: 10px;
    }
    #info_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0.1%;
    top: 58%;
}
#info_box1{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #1662c6;
    width: 30%;
    height: 100%;
}
#info_box2{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #1d80e3;
    width: 30%;
    height: 100%;
}
#info_box3{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #4ca3fa;
    width: 30%;
    height: 100%;
}
.text2{
    margin-left: 6%;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #ffffff;
}
}
@media only screen and (min-width : 2112px) {
    #logo_text{
    position: absolute;
    bottom: 94%;
    left: 28%;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #043464;
    }
    #logo_img{
    position: absolute;
    top: 1.5%;
    left: 20%;
    width: 7%;
    height: 5%;
    }
    .but1{
    border: none;
    outline: none;
    width: 20%;
    height: 25%;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    background-color: #1d80e3;
    color: white;
    font-weight: bold;
    font-size: 15px;
    }
    #main_box{
        height: 3000px;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
    #box1{
    display: flex;
    position: absolute;
    top: 1%;
    left: 35%;
    height: 6%;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    }
    #img_backg{
        position: absolute;
        left: 20%;
        top: 8%;
        width: 60%;
        height: 50%;
        background-color: #1d80e3;
        z-index: -1;
        border-radius: 50px;
    }
    #main_img{
        position: absolute;
        left: 20%;
        top: 8%;
        border-radius: 50px;
        opacity: 0.6;
        width: 60%;
        height: 50%;
    }
}