#main_box{
    height: 1080px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
#box2{
    position: absolute;
    top: 0.001%;
    left: 20%;
    height: 10%;
    width: 60%;
}
#img_backg{
    position: absolute;
    left: 20%;
    top: 12%;
    width: 60%;
    height: 50%;
    background-color: #1d80e3;
    z-index: -1;
    border-radius: 50px;
}
div {
    border: 1px solid red;
}
#logo_img{
    width: 15%;
    height: 99%;
}
#main_img{
    position: absolute;
    left: 20%;
    top: 12%;
    border-radius: 50px;
    opacity: 0.6;
}
@media only screen and (max-width : 480px) {
    #box2{
    position: absolute;
    top: 0.001%;
    left: 1%;
    height: 7%;
    width: 98%;
    }
    #logo_img{
    width: 20%;
    height: 99%;
    }
    #main_box{
    height: 1400px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    }
    #main_img{
    position: absolute;
    left: 1%;
    top: 9%;
    border-radius: 10px;
    opacity: 0.6;
    width: 98%;
    height: 25%;
    }
    #img_backg{
    position: absolute;
    left: 1%;
    top: 9%;
    width: 98%;
    height: 25%;
    background-color: #1d80e3;
    z-index: -1;
    border-radius: 10px;
    }
}
@media only screen and (min-width : 2112px) {
    #main_box{
        height: 3000px;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
    #box2{
        position: absolute;
        top: 0.001%;
        left: 20%;
        height: 10%;
        width: 60%;
    }
    #img_backg{
        position: absolute;
        left: 20%;
        top: 12%;
        width: 60%;
        height: 50%;
        background-color: #1d80e3;
        z-index: -1;
        border-radius: 50px;
    }
    #main_img{
        position: absolute;
        left: 20%;
        top: 12%;
        border-radius: 50px;
        opacity: 0.6;
        width: 60%;
        height: 50%;
    }
}